.btn-search {
  background: #fd5555;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 25px; }

.btn-orange {
  font-size: 15px;
  letter-spacing: 0;
  font-weight: 700;
  line-height: 1.2;
  transition: all 0.3s ease 0s;
  border-radius: 60px;
  display: inline-block;
  padding: 12px 30px;
  max-width: 375px;
  min-width: 140px;
  min-height: 45px;
  text-align: center;
  background: #f26d0e;
  border: 1px solid transparent;
  color: white;
  font-weight: 500; }
  .btn-orange:hover, .btn-orange:visited, .btn-orange:checked
  .btn-orange:focus {
    color: #FFF;
    background: #444444;
    text-decoration: none; }

.btn-cancel {
  color: #0096ff; }

.page-search {
  border-top: 15px solid #3ac3ff; }
  .page-search .panel-body {
    border-top: 3px solid #0086c1;
    padding-top: 50px;
    padding-bottom: 50px; }
  .page-search .box-meeting-search .cep-hint, .page-search .box-meeting-search .cep-hint a {
    font-size: 16px;
    font-weight: 400;
    padding: 0; }
  .page-search .box-meeting-search .cep-hint a {
    text-decoration: underline; }
  .page-search .box-meeting-search {
    color: #FFF; }
    .page-search .box-meeting-search label {
      font-size: 16px; }
    .page-search .box-meeting-search .title-container {
      margin-bottom: 35px; }
      .page-search .box-meeting-search .title-container h1, .page-search .box-meeting-search .title-container p {
        color: #FFF; }
      .page-search .box-meeting-search .title-container h1 {
        margin-top: 0; }
      .page-search .box-meeting-search .title-container p {
        font-size: 16px;
        font-weight: 100; }
  .page-search .form-control {
    height: 54px;
    color: #b3b3b3;
    font-size: 15px;
    font-weight: 100; }
  .page-search .box-search-meating {
    background: url("../images/bg-buscar-reuniao-arrumar.jpg") no-repeat;
    height: 817px;
    padding-top: 45px;
    background-size: cover; }
    .page-search .box-search-meating h1 {
      color: #00a2e9;
      margin-bottom: 30px;
      margin-bottom: 20px; }
    .page-search .box-search-meating dl {
      font-size: 16px;
      color: #00a2e9; }
      .page-search .box-search-meating dl dt {
        list-style-type: disc;
        display: list-item;
        list-style-position: outside;
        margin-left: 15px;
        margin-bottom: 3px; }
  .page-search .footer-content {
    background: #f6f6f6;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 130px; }
    .page-search .footer-content h3 {
      font-size: 14px;
      margin-bottom: 35px;
      color: #949494; }
    .page-search .footer-content p {
      font-size: 12px;
      font-weight: 100;
      margin-bottom: 15px;
      color: #949494; }

.map {
  height: 390px; }
  .map iframe {
    width: 100%; }

.page-result .searchResult h1 {
  color: #00a2e9;
  margin-bottom: 30px;
  margin-top: 45px;
  font-size: 36px;
  margin-bottom: 35px; }
.page-result .searchResult .container-meeting {
  margin-bottom: 40px; }
  .page-result .searchResult .container-meeting .metting-times-box .panel-default {
    margin-bottom: 40px; }
  .page-result .searchResult .container-meeting .metting-times-box .panel-heading {
    background: #e9e9e9; }
    .page-result .searchResult .container-meeting .metting-times-box .panel-heading .meeting-times-title {
      font-size: 30px;
      color: #7d7d7d; }
    .page-result .searchResult .container-meeting .metting-times-box .panel-heading p {
      font-size: 16px;
      color: #7d7d7d;
      margin-top: 5px; }
  .page-result .searchResult .container-meeting .metting-times-box .panel-footer {
    background: #fd5555; }
    .page-result .searchResult .container-meeting .metting-times-box .panel-footer .btn-pink {
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      padding: 0; }
  .page-result .searchResult .container-meeting .metting-times-box .meeting-times-weekdays {
    background: #f4f4f4;
    display: table;
    width: 100%;
    padding: 0; }
    .page-result .searchResult .container-meeting .metting-times-box .meeting-times-weekdays li {
      list-style-type: none;
      padding-top: 15px;
      padding-bottom: 15px; }
      .page-result .searchResult .container-meeting .metting-times-box .meeting-times-weekdays li strong {
        font-size: 20px;
        text-transform: uppercase;
        color: #7d7d7d; }
  .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time {
    width: 100%;
    display: table;
    padding-left: 10px; }
    .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time li {
      list-style-type: none; }
      .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time li strong {
        font-size: 20px;
        color: #7d7d7d; }
    .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time > li {
      min-height: 0;
      padding-top: 0; }
      .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time > li > ul {
        margin: 0;
        padding: 0; }
        .page-result .searchResult .container-meeting .metting-times-box .meeting-times-time > li > ul > li {
          font-size: 15px; }
.page-result .footer-content {
  margin-top: 0; }

.panel-body-result {
  padding-top: 35px;
  padding-bottom: 35px; }

.bs-fixed-modal .modal {
  font-family: Lato, Helvetica, Arial, sans-serif;
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  padding: 40px;
  display: block; }
  .bs-fixed-modal .modal .modal-content {
    padding: 40px;
    box-shadow: 0 5px 15px rgba(204, 204, 204, 0.5); }
  .bs-fixed-modal .modal .modal-header {
    padding: 0;
    border: 0;
    min-height: 0; }
  .bs-fixed-modal .modal .modal-body {
    padding: 40px; }
    .bs-fixed-modal .modal .modal-body dl, .bs-fixed-modal .modal .modal-body p {
      font-size: 15px;
      color: #949494; }
      .bs-fixed-modal .modal .modal-body dl span, .bs-fixed-modal .modal .modal-body p span {
        color: #539900; }
    .bs-fixed-modal .modal .modal-body dl {
      padding-bottom: 40px;
      margin-bottom: 0; }
      .bs-fixed-modal .modal .modal-body dl dt {
        padding-top: 15px;
        padding-bottom: 15px; }
    .bs-fixed-modal .modal .modal-body .btn-orange {
      margin-top: 10px;
      margin-bottom: 30px; }
    .bs-fixed-modal .modal .modal-body .btn-cancel {
      font-size: 13px; }
  .bs-fixed-modal .modal .modal-dialog {
    width: 800px; }

.typog-v3-headline4 {
  font-size: 36px;
  font-weight: 400;
  font-family: Marydale, Lato, Helvetica, Arial, sans-serif;
  font-style: normal;
  line-height: 1; }

.typog-v3-headline4 {
  font-size: 35px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2;
  font-style: italic;
  color: #539900;
  padding: 0;
  padding-bottom: 20px; }

@media (max-width: 1024px) {
  .bs-fixed-modal .modal {
    padding: 0;
    padding-top: 30px; }
    .bs-fixed-modal .modal .modal-dialog {
      width: 100%; }
      .bs-fixed-modal .modal .modal-dialog .modal-content {
        padding: 15px; } }
@media (max-width: 768px) {
  .page-search .box-search-meating {
    background-position: 50% 0%; }
    .page-search .box-search-meating dl dt {
      list-style-position: inside; } }
@media (max-width: 425px) {
  .bs-fixed-modal .modal .modal-dialog {
    width: 95%; } }

/*# sourceMappingURL=style.css.map */
