
//blue
$c-main-blue 		: #00a2dc;
$c-secondary-blue 	: #0086c1;
$c-light-blue 		: #3ac3ff;
$c-light-blue2 		: #00a2e9;

//pink
$c-main-pink: #fd5555;

//grey

$c-main-grey: #f6f6f6;
$c-dark-grey: #949494;

//helpers

.btn-search{
	background: $c-main-pink;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	padding: 15px 25px;
}

.btn-orange{
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 700;
    line-height: 1.2;
    transition: all 0.3s ease 0s;
    border-radius: 60px;
    display: inline-block;
    padding: 12px 30px;
    max-width: 375px;
    min-width: 140px;
    min-height: 45px;
    text-align: center;
    background: #f26d0e;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
	&:hover,
	&:visited,
	&:checked
	&:focus{
		color: #FFF;
		background: #444444;
		text-decoration: none;
	}
}

.btn-cancel{
	color: #0096ff;
}

//main code
.page-search{
	border-top: 15px solid $c-light-blue;
	
	.panel-body{
		border-top: 3px solid $c-secondary-blue;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	.box-meeting-search .cep-hint, .box-meeting-search .cep-hint a{
		font-size: 16px;
		font-weight: 400;
		padding: 0;
	}
	
	.box-meeting-search .cep-hint a{
		text-decoration: underline;
	}
	
	.box-meeting-search{
		color: #FFF;
		label{
			font-size: 16px;
		}
		.title-container{
			margin-bottom: 35px;
			h1,p{
				color: #FFF;
			}
			h1{
				margin-top: 0;
			}
			p{
				font-size: 16px;
				font-weight: 100;
			}
		}
	}
	
	.form-control{
		height: 54px;
		color: #b3b3b3;
		font-size: 15px;
		font-weight: 100;
	}
	
	.box-search-meating{
		background: url('../images/bg-buscar-reuniao-arrumar.jpg') no-repeat;
		height: 817px;
		padding-top: 45px;
		background-size: cover;
		h1{
			color: $c-light-blue2;
			margin-bottom: 30px;
			margin-bottom: 20px;
		}
		dl{
			font-size: 16px;
			color: $c-light-blue2;
			dt{
				list-style-type: disc;
				display: list-item;
				list-style-position: outside;
				margin-left: 15px;
				margin-bottom: 3px;
			}
		}
	}
	
	.footer-content{
		background: $c-main-grey;
		padding-top: 50px;
		padding-bottom: 50px;
		margin-top: 130px;
		h3{
			font-size: 14px;
			margin-bottom: 35px;
			color: $c-dark-grey;
		}
		p{
			font-size: 12px;
			font-weight: 100;
			margin-bottom: 15px;
			color: $c-dark-grey;
		}
	}
}

//resultado busca
	
	.map{
		height: 390px;
		iframe{
			width: 100%;
		}	
	}
	.page-result{
		.searchResult{
			h1{
				color: $c-light-blue2;
				margin-bottom: 30px;
				margin-top: 45px;
				font-size: 36px;
				margin-bottom: 35px;
			}
			.container-meeting{
				//border-bottom: 1px solid $c-dark-grey;
				margin-bottom: 40px;
				.metting-times-box{
					.panel-default{
						margin-bottom: 40px;
					}
					.panel-heading{
						background: #e9e9e9;
						.meeting-times-title{
							font-size: 30px;
							color: #7d7d7d;
						}
						p{
							font-size: 16px;
							color: #7d7d7d;
							margin-top: 5px;
						}
					}
					.panel-footer{
						background: $c-main-pink;
						
						.btn-pink{
							color: #FFF;
							font-size: 18px;
							font-weight: 400;
							text-transform: uppercase;
							padding: 0;
						}
					}
					.meeting-times-weekdays{
						background: #f4f4f4;
						display: table;
						width: 100%;
						padding: 0;
						li{
							list-style-type: none;
							padding-top: 15px;
							padding-bottom: 15px;
							strong{
								font-size: 20px;
								text-transform: uppercase;
								color: #7d7d7d;
							}
						}
					}
					.meeting-times-time{
						width: 100%;
						display: table;
						padding-left: 10px;
						li{
							list-style-type: none;
							strong{
								font-size: 20px;
								color: #7d7d7d;
							}
						}
						> li{
							min-height: 0;
							padding-top: 0;
							>ul{
								margin: 0;
								padding: 0;
								>li{
									font-size: 15px;
								}
							}
						}
					}
				}
			}	
		}
		.footer-content{
			margin-top: 0;
		}
	}
	
	.panel-body-result{
		padding-top: 35px;
		padding-bottom: 35px;
	}
	
	
	//cancelamento
	
	.bs-fixed-modal .modal {
		font-family: Lato, Helvetica, Arial, sans-serif;
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		z-index: 1;
		padding: 40px;
		display: block;
		.modal-content{
			padding: 40px;
			box-shadow: 0 5px 15px rgba(204, 204, 204, 0.5);
		}
		.modal-header{
			padding: 0;
			border: 0;
			min-height: 0;
		}
		.modal-body{
			padding: 40px;
			
			dl,p{
				font-size: 15px;
				color: $c-dark-grey;
				span{
					color: #539900;
				}
			}
			dl{
				padding-bottom: 40px;
				margin-bottom: 0;
				dt{
					padding-top: 15px;
					padding-bottom: 15px;
				}
			}
			.btn-orange{
				margin-top: 10px;
				margin-bottom: 30px;
			}
			.btn-cancel{
				font-size: 13px;
			}
		}
		.modal-dialog{
			width: 800px;
		}
	}
	
	.typog-v3-headline4 {
		font-size: 36px;
		font-weight: 400;
		font-family: Marydale, Lato, Helvetica, Arial, sans-serif;
		font-style: normal;
		line-height: 1;
	}
	.typog-v3-headline4 {
		font-size: 35px;
		font-weight: 300;
		letter-spacing: 0;
		line-height: 1.2;
		font-style: italic;
		color: #539900;
		padding: 0;
		padding-bottom: 20px;
	}
	
	
	//responsive
	
	@media (max-width: 1024px) {
		
		.bs-fixed-modal{
			.modal{
				padding: 0;
				padding-top: 30px;
				.modal-dialog{
					width: 100%;
					.modal-content{
						padding: 15px;
					}
				}
			}
		}
	}
	
	@media (max-width: 768px) {
		.page-search .box-search-meating{
			background-position: 50% 0%;
			dl dt{
				list-style-position: inside;
			}
		}
	}
	
	@media (max-width: 425px) {
		
		.bs-fixed-modal{
			.modal{
				.modal-dialog{
					width: 95%;
					.modal-content{
					
					}
				}
			}
		}
		
	}
	